<span class="icon icon-new icon-{{ icon }} {{ class }}">
  {%- case icon -%}
    {%- when 'star-filled' -%}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 26" fill="none">
        <path d="M15.3742 3.80236L17.2809 7.6157C17.5409 8.14653 18.2342 8.6557 18.8192 8.7532L22.275 9.32736C24.485 9.6957 25.005 11.299 23.4125 12.8807L20.7259 15.5674C20.2709 16.0224 20.0217 16.8999 20.1625 17.5282L20.9317 20.854C21.5384 23.4865 20.1409 24.5049 17.8117 23.129L14.5725 21.2115C13.9875 20.8649 13.0234 20.8649 12.4275 21.2115L9.18836 23.129C6.87002 24.5049 5.46169 23.4757 6.06836 20.854L6.83752 17.5282C6.97836 16.8999 6.72919 16.0224 6.27419 15.5674L3.58752 12.8807C2.00586 11.299 2.51502 9.6957 4.72502 9.32736L8.18086 8.7532C8.75502 8.6557 9.44836 8.14653 9.70836 7.6157L11.615 3.80236C12.655 1.7332 14.345 1.7332 15.3742 3.80236Z" fill="currentColor"/>
      </svg>
    {%- when 'verified-icon' -%}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none">
        <path d="M8.7418 1.85879L4.58346 3.42546C3.62513 3.78379 2.8418 4.91712 2.8418 5.93379V12.1255C2.8418 13.1088 3.4918 14.4005 4.28346 14.9921L7.8668 17.6671C9.0418 18.5505 10.9751 18.5505 12.1501 17.6671L15.7335 14.9921C16.5251 14.4005 17.1751 13.1088 17.1751 12.1255V5.93379C17.1751 4.90879 16.3918 3.77546 15.4335 3.41712L11.2751 1.85879C10.5668 1.60046 9.43346 1.60046 8.7418 1.85879Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M7.5423 9.89157L8.88396 11.2332L12.4673 7.6499" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    {%- when 'slider-arrow' -%}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 25" fill="none">
        <path d="M14.43 6.43018L20.5 12.5002L14.43 18.5702" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M3.5 12.5H20.33" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    {%- when 'sheet-1' -%}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 37" fill="none">
        <path d="M8.75 36.25V0.75H17.7283L27.25 8.68918V36.25H8.75Z" fill="white" stroke="#67A4CC" stroke-width="1.5"/>
      </svg>
    {%- when 'sheet-2' -%}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37 37" fill="none">
        <path d="M5.25 36.25V0.75H14.2283L23.75 8.68918V36.25H5.25Z" fill="white" stroke="#67A4CC" stroke-width="1.5"/>
        <path d="M13.25 36.25V0.75H22.2283L31.75 8.68918V36.25H13.25Z" fill="white" stroke="#67A4CC" stroke-width="1.5"/>
      </svg>
    {%- when 'sheet-3' -%}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37 37" fill="none">
        <path d="M1.25 36.25V0.75H10.2283L19.75 8.68918V36.25H1.25Z" fill="white" stroke="#67A4CC" stroke-width="1.5"/>
        <path d="M9.25 36.25V0.75H18.2283L27.75 8.68918V36.25H9.25Z" fill="white" stroke="#67A4CC" stroke-width="1.5"/>
        <path d="M17.25 36.25V0.75H26.2283L35.75 8.68918V36.25H17.25Z" fill="white" stroke="#67A4CC" stroke-width="1.5"/>
      </svg>
    {%- else -%}
  {%- endcase -%}
</span>
